section.new-tweet {
    margin-left: 2em;
    margin-right: 2em;
    border-style: solid;
    border-radius: 6px;
    background-color: #DCDCDC
  ;
}

span.count {

}

main textarea {
    margin: 0 auto;
    display: block;
    width: 95%;
    border-style: double;

}

main input {
    margin-left: 2.5%;
    margin-top: 1%;


}

main h2 {
  margin-left: 2.5%;
}