section#tweet-container {
    margin-left: 2em;
    margin-right: 2em;
    border-style: solid;
    border-radius: 6px;
    background-color: #f2f2f2;
    margin-top: 20px;
}

article.tweets {
    margin-left: 2em;
    margin-right: 2em;
    border-style: solid;
    border-radius: 6px;
    background-color: white;
    margin-top: 20px;
    height: 200px;
    position: relative;
    opacity: 0.5;
}

article.tweets:hover {
  opacity: 1;

}
/*    .tweets header p {
      background-color: white;
          background-color: white;
     position: absolute;
    width: 100%;
    top: 50px;
    height: 70px;
    }*/

article.tweets header img.icon {
    top: 10px;
    left: 10px;
    height: 35px;
    border-radius: 6px;

}

article.tweets header {
  position: relative;
  background-color: #f2f2f2;
}

article.tweets header h2 {
   display: inline;
   margin: 2px;

}

article.tweets header h3 {
position: absolute;
  top: 0;
    right: 0;
  }


article.tweets footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #f2f2f2;
}
.tweets footer p {
  margin: auto;
}

.tweets footer img {
  visibility: hidden;
}

/*.tweets footer img: hover {
  visibility: visible;
}*/
/*#tweet-container :hover {
  opacity: .5;
}
#tweet-container img:hover {
  opacity: .5;
}*/

