section#tweet-container {
  margin-left: 2em;
  margin-right: 2em;
  border-style: solid;
  border-radius: 6px;
  background-color: #f2f2f2;
  margin-top: 20px;
}

article.tweets {
  margin-left: 2em;
  margin-right: 2em;
  border-style: solid;
  border-radius: 6px;
  background-color: white;
  margin-top: 20px;
  height: 200px;
  position: relative;
  opacity: 0.5;
}

article.tweets:hover {
  opacity: 1;

}

/*footer img.retweet: hover {
  display: initial;
}*/
article.tweets header {
  position: relative;
  background-color: #f2f2f2;
}

article.tweets header img.icon {
  top: 10px;
  left: 10px;
  height: 35px;
  border-radius: 6px;

}

article.tweets header h2 {
  display: inline;
  margin: 2px;

}

article.tweets div {
    background-color: white;
    height: 127px;
    /* width: 100%; */
    /* margin: auto; */
    /* text-align: justify; */
    word-break: break-word;
}

article.tweets header h3 {
  position: absolute;
  top: 0;
  right: 0;
  }

article.tweets footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #f2f2f2;
}

.tweets footer p {
  margin: auto;
}

article.tweets footer img.retweet {
  height: 35px;
  border-radius: 6px;
  position: absolute;
  right: 10px;
  bottom: 1%;
  /*  display: none;*/




}



